# Jupyter
.ipynb_checkpoints/
*.pyc
__pycache__/
*.pyo
*.pyd
.ipython/

# Conda / Anaconda
envs/
.conda/
*.egg-info/
*.egg
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
*.code-workspace

# Secrets
.env
*.key
*.pem
